Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other

Label encoding and ordinal encoding are 2 techniques used to encode categorical data as numerical data Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or based on the frequancy of the categories. For example, if we have categorical variable "color" with three possible values (red, green,blue) we can represent it using label encoding

1. Red :1
2. Green :2
3. Blue :3

It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on it position in the order. For example, if we have a categorical variable "" Education level"" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

High school: 1
College : 2
Graduate: 3
Post-Graduate: 4

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in 
a machine learning project.

Ans. It is a technique used to encode categorical variables based on their relationship with the target variable. This encoding technique is useful when we have a categorical variable with a large number of unique categories, and we want to use this variable as a feature in our machine learning model.

In target guided ordinal encoding, we replace each category in the categorical variable with a numerical value based on the mean or median of the target variable for that category. this creates a monotonic relationship between the categorical variable and the target varaible, which can improve the predictive power of our model.

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Ans. it represents the relationship between two variables, indicating whether an increase in one variable is associated with an increase, decrease, or no change in the other variable.

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, 
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. 
Show your code and explain the output.

In [1]:
import pandas as pd

In [3]:
df =pd.DataFrame({
    "color": ["red",'green','blue'],
    "Material" : ["wood",'metal','plastic'],
    "Size": ["small","Medium", 'large']
})

In [4]:
df

   color Material    Size
0    red     wood   small
1  green    metal  Medium
2   blue  plastic   large

In [5]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label = LabelEncoder()

In [18]:
label.fit_transform(df[["color"]])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0])

In [19]:
(df["color"])

0      red
1    green
2     blue
Name: color, dtype: object

In [20]:
label.fit_transform(df[["Material"]])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1])

In [21]:
(df["Material"])

0       wood
1      metal
2    plastic
Name: Material, dtype: object

In [22]:
label.fit_transform(df[["Size"]])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1])

In [23]:
(df["Size"])

0     small
1    Medium
2     large
Name: Size, dtype: object

5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education 
level. Interpret the results.

In [25]:
df2 = pd.DataFrame({
    "Age":[22,29,35,28,54],
    "Income":[10000,20000,15000,18000,50000],
    "Education":["Masters","Btech","Phd","10th","Inter"],
})

In [26]:
df2

   Age  Income Education
0   22   10000   Masters
1   29   20000     Btech
2   35   15000       Phd
3   28   18000      10th
4   54   50000     Inter

In [29]:
df2.cov()

/tmp/ipykernel_134/3825087732.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.cov()

             Age       Income
Age        151.3     183050.0
Income  183050.0  248800000.0

Q6. You are working on a machine learning project with a dataset containing several categorical 
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), 
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

Ans.For
1. Gender we use one hot encoding
2. Education Level Ordinal Encoding
3. Employement Status Ordinal Encoding

Q7.Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose 
you have collected data on the amount of time students spend studying for an exam and their final exam 
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result

In [30]:
df2 = pd.DataFrame({
    "Final Exam Scores":[75,85,65,85,74],
    "Time Students Spent for Studying":[10,12,15,18,5],
})

In [32]:
df2.corr(method = 'pearson')

,Final Exam Scores,Time Students Spent for Studying
Final Exam Scores,1.000000,0.221472
Time Students Spent for Studying,0.221472,1.000000

Q8. Spearman's rank correlation is a measure of the monotonic relationship between two variables. 
Suppose you have collected data on the amount of sleep individuals get each night and their overall job 
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two 
variables and interpret the result.

In [34]:
df5 = pd.DataFrame({
    "Sleeping Hours":[8,7,6,8,9,10],
    "Job Statisfaction":[8,8,9,4,5,8],
})

In [35]:
df2.corr(method = 'spearman')

,Final Exam Scores,Time Students Spent for Studying
Final Exam Scores,1.000000,0.307794
Time Students Spent for Studying,0.307794,1.000000